.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

@utility generate-login-icon {
  @apply w-25 h-25;
  @apply mx-auto; 
  @apply w-auto;
}

@utility generate-app-page {
  @apply flex flex-col;
  @apply min-h-full;
  @apply justify-center;
  @apply bg-generate-dark-background;  
  @apply text-generate-text-input;
}

@utility generate-app-icon {
  width: 20px;
  height: 20px;
  @apply text-generate-text-placeholder;
  @apply hover:text-generate-text-input;
}

@utility generate-comment-message {
  @apply text-generate-text-comment;
  @apply text-sm;
}

@utility generate-error-message {
  @apply text-generate-text-bad;
  @apply text-sm;
}

@utility generate-actiontext {
  @apply flex;
  @apply gap-generate-pad;
  @apply p-1.5;
  @apply text-left;
  @apply items-center;
  @apply hover:text-generate-text-input ;
  @apply text-sm;
}

@utility generate-usermenu {
  @apply flex;
  @apply pl-generate-pad;
  @apply gap-1.5;
  @apply pt-1.5;
  @apply pb-1.5;
  @apply items-center;
}

@utility generate-dark-inputbox {
  @apply flex;
  @apply rounded-md;
  @apply p-1.5;
  @apply text-sm;
  @apply text-wrap;
  @apply border-1 border-generate-text-outline;
  @apply placeholder:text-generate-text-placeholder;
  @apply bg-generate-dark-input;
}.generate-dark-inputbox:not(:placeholder-shown) {
  @apply text-generate-text-input;
}

@utility generate-dark-actionbutton {
  @apply block;
  @apply rounded-md;
  @apply p-1.5;
  @apply items-center;
  @apply justify-center;
  @apply border-1 border-generate-text-outline;
  @apply bg-generate-dark-input;
  @apply text-generate-text-input;
  @apply hover:cursor-pointer;
  @apply font-bold;
  @apply hover:bg-generate-light-input;
  @apply hover:border-l-6;
  @apply hover:border-r-6;
}

@utility generate-light-inputbox {
  @apply flex;
  @apply rounded-md;
  @apply p-1.5;
  @apply text-sm;
  @apply text-wrap;
  @apply border-1 border-generate-text-outline;
  @apply placeholder:text-generate-text-placeholder;
  @apply bg-generate-light-input;
}.generate-light-inputbox:not(:placeholder-shown) {
  @apply text-generate-text-input;
}

@utility generate-light-actionbutton {
  @apply block;
  @apply rounded-md;
  @apply p-1.5;
  @apply items-center;
  @apply justify-center;
  @apply border-1 border-generate-text-outline;
  @apply bg-generate-light-input;
  @apply text-generate-text-input;
  @apply hover:cursor-pointer;
  @apply font-bold;
  @apply hover:bg-generate-dark-input;
  @apply hover:border-l-6;
  @apply hover:border-r-6;
}

@utility generate-light-modalbutton {
  @apply flex;
  @apply w-full;
  @apply p-4 gap-1.5;
  @apply bg-generate-light-background;
  @apply hover:bg-generate-light-input;
  @apply hover:border border-generate-text-outline;
  @apply hover:text-generate-text-input;
  @apply rounded-md;
}

@utility generate-light-notificationpill {
  @apply p-1.5 gap-1.5;
  @apply bg-generate-light-input;
  @apply border-t-1 border-b-1 border-generate-text-outline;
  @apply text-xs;
  @apply rounded-md;
}

@utility generate-light-sectionheader {
  @apply flex;
  @apply gap-generate-pad;
  @apply rounded-t-xl;
  @apply border-b-1 border-generate-text-outline;
  @apply bg-generate-dark-background;
  @apply text-generate-text-placeholder;
  @apply pl-generate-pad pr-generate-pad;
  @apply pt-2 pb-2;
}

@utility generate-light-sectionanalysis {
  @apply flex flex-col flex-1;
  @apply border-b-3 border-generate-text-outline;
  @apply border-r border-l border-generate-text-outline;
  @apply rounded-b-xl;
  @apply bg-generate-light-input;
  @apply text-generate-text-placeholder;
  @apply hover:text-generate-text-input;
  @apply pl-generate-pad pr-generate-pad;
  @apply pt-2 pb-2;
}

@utility generate-light-popupheader {
  @apply flex;
  @apply gap-generate-pad;
  @apply rounded-t-xl;
  @apply border-b-1 border-generate-text-outline;
  @apply bg-generate-dark-background;
  @apply text-generate-text-placeholder;
  @apply pl-generate-pad pr-generate-pad;
  @apply pt-2 pb-2;  
  @apply rounded-tr-none;
  @apply hover:bg-generate-dark-input;
  @apply items-center;
  @apply justify-between;  
}

@utility generate-light-gridheader {
  @apply pt-2;
  @apply text-sm text-wrap;
  @apply text-center;
  @apply text-generate-text-placeholder;
}

@utility generate-light-griditem {
  @apply text-2xl text-wrap;
  @apply text-center;
  @apply font-bold;
  @apply text-generate-text-placeholder;
  @apply hover:text-generate-text-input;
  @apply border-r border-generate-text-outline;
}